
  <aside class='categories'>
    <h1>CATEGORIES</h1>
    <form class="form-inline" action="/categories/1" method="GET">
      <button type="submit" value="submit">Web Development</button>
    </form>
    <form class="form-inline" action="/categories/2" method="GET">
      <button type="submit" value="submit">Cooking</button>
    </form>
    <form class="form-inline" action="/categories/3" method="GET">
      <button type="submit" value="submit">Early Years</button>
    </form>
    <form class="form-inline" action="/categories/4" method="GET">
      <button type="submit" value="submit">Languages</button>
    </form>
    </section>
  </aside>

