
  <aside class='categories'>
    <h1>CATEGORIES</h1>
    <form class="button1" action="/categories/1" method="GET">
      <button type="submit" value="submit">Coding for kids</button>
    </form>
    <form class="form-inline" action="/categories/2" method="GET">
      <button type="submit" value="submit">Cooking</button>
    </form>
    <form class="form-inline" action="/categories/3" method="GET">
      <button type="submit" value="submit">Maths</button>
    </form>
    <form class="form-inline" action="/categories/4" method="GET">
      <button type="submit" value="submit">Languages</button>
    </form>
    <form class="form-inline" action="/categories/5" method="GET">
      <button type="submit" value="submit">Crafts</button>
    </form>
    </section>
  </aside>

