<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CATEGORIES</title>
</head>

<main style="margin: 2em;"></main>


<body>
  <main class='categories'>
    <h1>CATEGORIES</h1>
      <form class="form-inline" action="redirect" method="POST">
        <button type="submit" value="submit">CAT1</button>

      <form class="form-inline" action="/register" method="POST">
        <button type="submit" value="submit">CAT2</button>

      <form class="form-inline" action="/register" method="POST">
        <button type="submit" value="submit">CAT3</button>


      <form class="form-inline" action="/register" method="POST">
        <button type="submit" value="submit">CAT4</button>

    </section>
  </main>
</body>
</form>
</html>


