<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class='container'>
    <section class= 'categories'>
    <body>
      <h1>CATEGORY 1</h1>
      <h1>CATEGORY 2</h1>
      <h1>CATEGORY 3</h1>
      <h1>CATEGORY 4</h1>
      <h1>CATEGORY 5</h1>
      <h1>CATEGORY 1</h1>
    </section>
  </main>
</body>
</html>
