<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body class='page_divider'>

  <header>
    <%- include('partials/nav') %>

  </header>

<div class = 'welcome'>
  <h1 class= 'message' >Welcome to Quinterest!</h1>
  <h3 class= 'message' > A fun place for both adults and children!   Please register or log-in for awesome resources. </h3>

    <section class="category-list">

      <div class="category">
        <label>Coding for kids</label>
        <img src='https://www.codecademy.com/webpack/e908164f059c81faded2866ab983e950.png'>
      </div>

      <div class="category">
        <label>Cooking</label>
        <img src="https://www.lazygourmet.ca/wp-content/uploads/classroom-banner.jpg">
      </div>

      <div class='category'>
        <label>Maths</label>
        <img src='https://www.earlyyearscareers.com/eyc/wp-content/uploads/2017/01/education-919895_1280.jpg'>
      </div>

      <div class="category">
        <label>Languages</label>
        <img src="https://1635225677.rsc.cdn77.org/images/best-language-learning-apps.jpg">
      </div>

      <div class="category">
        <label>Crafts</label>
        <img src='https://www.kidslovewhat.com/wp-content/uploads/2019/02/unicorn-crafts-for-kids.jpg'>
      </div>



    </section>

  </div>
</body>

</html>
