.main-container {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  padding-top: 120px;
  min-width: 1400px;
  max-width: 1500px;
  margin: 0 auto;
  font-family: 'Assistant';
  color: black;
}

.box1 {
  background-color: #d3f1f1;
  box-sizing: border-box;
}

.page-detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font: 'arial';
}

.page-detail header {
  margin: 50px;
}

.page-detail .resources-container {
  flex-direction: column;
  padding: 20px;
  border: 1px dashed #044347;
  margin: 70px;
  margin-bottom: 30px;
}

.page-detail .resources-container .form-group {
  flex-direction: column;
}

.page-detail .resources-container .form-group .table-row {
  flex-direction: row;
  justify-content: space-between;
}

.title {
  width: 230px;
  height: 77px;
  font-size: 20px;
  font-family: 'Assistant';
  margin-top: 10px;
  margin-left: 30px;
  color: #044347;
  display: flex;
  align-items: center;
  justify-content: center;
}
