
.reg-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-group {
      flex-direction: row;
      justify-content: space-evenly;
      align-content: space-between;
      padding: 20px;
      label {
        padding-right: 10px;
      }
      button {
        background-color: lightseagreen;
      }
    }
  }
}
