.main-container2 {
  display:flex;
  flex-direction: row;
  padding-top:120px;
  min-width: 1400px;
  max-width: 1500px;
  margin: 0 auto;
  font-family: 'Assistant';
  color: black;

}

.box1 {
  background-color: rgb(211, 241, 241);
  box-sizing: border-box;

}
